/*通用*/
*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
body{min-width: 1200px;max-width: 1920px;margin: 0 auto;}
/*头部导航*/
.header{height: 55px;width: 100%;}
.header>.nav{width: 70%;height:100%;overflow: hidden;margin: 0 auto;}
.header>.nav>a{display: block;margin-top: 5px;width: 133px;height: 48px;background: url(../img/logo_b5525b7.png) no-repeat 0 0/133px 44px;float: left;}
.header>.nav>ul{float: right;width: 432px;font-size: 13px;}
.header>.nav>ul>li{float: left;text-align: center;}
.header>.nav>ul>li>a{display: block;padding:0 15px;height: 52px;line-height: 52px;color: black;border-bottom: 3px solid transparent;}
.header>.nav>ul>li>a:hover{border-bottom-color: #B4181B;background: #F3F3F3;}
.header>.nav>ul>li:nth-child(3)>a{color: #B4181B;}
.header>.nav>ul>li:nth-child(3)>a>img{width: 8px;height: 4px;margin:0 0 3px 5px;}
/*主体*/
.main{width: 100%;}
/*尾部*/
.footer{width: 798px;height: 48px;margin:0 auto;}
.footer>a>img{height: 31px;margin: 5px 15px 0 0;}
.footer>a:first-child>img{margin-right: 0;}
.footer>span{display: inline-block;width: 410px;height: 40px;padding-top: 10px;font-size: 12px;color: #787878;line-height: 20px;text-align: center;}
.footer>span a:hover{text-decoration: underline;}
.footer>span>ul{width: 100%;height: 17px;}
.footer>span>ul>li{float: left;height: 100%;}
.footer>span>ul>li>a{display: inline-block;height:100%;font-size: 12px;color: #787878;line-height: 20px;}
.footer>span>ul>li>span{display: inline-block;width: 12px;height:100%;}
.footer>span>p{float: left;height: 17px;margin-top: 5px;}
.footer>span>a{display: block;float: right;width: 139px;height: 26px;line-height: 26px;background: #610000;color: #fff;margin-top: 5px;}
.footer>p.tips{width: 100%;font-size: 12px;color: #ccc;line-height: 20px;text-align: left;margin-top: 10px;}